.App {
  margin: 25px;
}

.App-header {
  height: 60px;
  padding: 10px;
}

.App-intro {
  font-size: large;
}

.App-body {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.dialpad-btn {
  margin: 5px;
}

.dialpad-controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dialpad {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-item {
  display: flex;
}

